.main {
  height: calc(100dvh - var(--nav-h));
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  .main {
    scroll-snap-type: none;
  }
}
